<div class="ui left fixed vertical menu left-nav">
  <div class="logo">
    <%= link_to "not sio", home_path %>
  </div>
  <div class="item">
    <div class="header first nav-item-title">Major</div>
    <div class="menu nav-sub-items">
      <%= link_to "Progress", home_path, class: "nav-item item", id: "nav-progress" %>
      <%= link_to "Requirements", requirements_path, class: "nav-item item", id: "nav-requirements"%>
    </div>
  </div>
  <div class="item">
    <div class="header nav-item-title">Plan</div>
    <div class="menu nav-sub-items">
      <%= link_to "Schedule", student_sections_path, class: "nav-item item", id: "nav-schedule"%>
      <%= link_to "Course Catalog", courses_path, class: "nav-item item", id: "nav-all_courses"%>
      <%#= link_to "Saved Courses", home_path, class: "nav-item item", id: "nav-saved_courses"%>
    </div>
  </div>
<!--   <div class="item">
    <div class="header nav-item-title">Me</div>
    <div class="menu nav-sub-items">
      <%#= link_to "Audit",home_path, class: "nav-item item", id: "nav-audit"%>
    </div>
  </div> -->

  <div class="ui segment user-profile">
    <%= semantic_icon('large user circle outline')%>
    <% if logged_in? %>
      <%=  @current_student.name %>
      <%= link_to "Logout", logout_path %>
  	<% else %>
  	   Anonymous
       <%= link_to "Login", login_path %>
  	<% end %>
   </div>
</div>
