<div class="ui accordion">

    <% @courses.each do |course| %>

        <div class="title">
          <i class="dropdown icon"></i>
          <%= course.id %> <%= course.code %> <%= course.name %>
          <div class="course-actions">
            <%= link_to "<i class='add circle icon'></i>".html_safe, add_section_path(:course_id => course.id), remote: true, method: :post %>
            <i class="empty star icon"></i>
          </div>
        </div>
        <div class="content course-details">
          <p class="course-units">Units: <%= course.units %></p>
          <p><%= course.description %></p>
        </div>
      
    <% end %>
</div>