<!-- <div class="ui raised segment">
  <h5>Enter Course Code</h5>
  <div class="dept-filters">
    <%#= form_with(model: @course, :url => {:action => "find_course"}) do |f| %>
      <%#= f.text_field :code, :placeholder => "xx-xxx" %>
      <%#= f.submit "Search" %>
    <%# end %>
  </div>
</div> -->


<!-- <div class="ui raised segment"> -->
  <div class="ui grid">
    <div class="four wide column">
      <!-- <h5>Filter by Department</h5> -->
      <div class="dept-filters">
        <div class="ui selection dropdown dept-selection">
          <input type="hidden" name="department">
          <i class="dropdown icon"></i>
          <% if dept_name.nil? %>
            <div class="default text">Select Department</div>
          <% else %>
            <div class="default text"><%=dept_name%></div>
          <% end %>
          <div class="menu">
            <div class="item" data-value='<%= ["all", min_unit, max_unit, req_name] %>', >All</div>
            <% depts.each do |dept| %>
              <div class="item" data-value='<%= [dept, min_unit, max_unit, req_name] %>', ><%=dept%></div>
              <%# link_to dept, fetch_courses_path(:dept_name => dept, :min_unit => min_unit, :max_unit => max_unit, :req_name => req_name), class: "dept-item", remote: true  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="four wide column">
      <!-- <h5>Filter by Requirement</h5> -->
      <div class="dept-filters">
        <div class="ui selection dropdown req-selection">
          <input type="hidden" name="requirements">
          <i class="dropdown icon"></i>
          <% if req_name.nil? %>
            <div class="default text">Select Requirement</div>
          <% else %>
            <div class="default text"><%=req_name%></div>
          <% end %>
          <div class="menu">
            <div class="item" data-value='<%= [dept_name, min_unit, max_unit, "all"] %>', >All</div>
            <% @requirements.each do |req| %>
              <div class="item" data-value='<%= [dept_name, min_unit, max_unit, req.name] %>', ><%=req.name%></div>
              <%# link_to dept, fetch_courses_path(:dept_name => dept, :min_unit => min_unit, :max_unit => max_unit, :req_name => req_name), class: "dept-item", remote: true  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="four wide column">
      <!-- <h5>Filter by Units</h5> -->
      <div class="unit-filters">
        Min: 
        <% [*1..12].each do |num| %>
          <% if min_unit.to_s == num.to_s %><b><% end %>
          <%= link_to num, fetch_courses_path(:min_unit => num, :dept_name => dept_name, :max_unit => max_unit, :req_name => req_name), class: "unit-item", remote: true %>
          <% if min_unit.to_s == num.to_s %></b><% end %>
        <% end %>
        <br>
        Max: 
        <% [*1..12].each do |num| %>
          <% if max_unit.to_s == num.to_s %><b><% end %>
          <%= link_to num, fetch_courses_path(:max_unit => num, :dept_name => dept_name, :min_unit => min_unit, :req_name => req_name), class: "unit-item", remote: true %>
          <% if max_unit.to_s == num.to_s %></b><% end %>
        <% end %>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui icon input">
        <div class="dept-filters">
          <%= form_with(model: @course, :url => {:action => "find_course"}) do |f| %>
            <%= f.text_field :code, :placeholder => "xx-xxx" %>
          <% end %>
        </div>
        <i class="search icon"></i>
      </div>
    </div>
  </div>
<!-- </div> -->