<p id="notice"><%= notice %></p>

  <h3 class="ui dividing header page-header">
    Courses
  </h3>

  <div class="ui accordion">

    <% @courses.each do |course| %>

        <div class="title">
          <i class="dropdown icon"></i>
          <%= course.code %> <%= course.name %>
          <div class="course-actions">
            <i class="add circle icon"></i>
            <i class="empty star icon"></i>
          </div>
        </div>
        <div class="content course-details">
          <p class="course-units">Units: <%= course.units %></p>
          <p><%= course.description %></p>
        </div>
      
    <% end %>

  </div>

  <%= will_paginate @courses, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", param_name: "courses" %>