<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= semantic_flash %>
  </head>

  <body>
	<%= render "partials/left_nav" %>
	<div class="content">
		<%= yield %>
	</div>
	<%= render "partials/right_nav" %>
  </body>
</html>
